@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap&subset=latin-ext');
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #3767ad;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
}
.application {
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 114px 98px 68px 30px 50px 38px 22px ;
  &__header {
    grid-row-start: 1;
    display: flex;
    justify-content: center;
    margin-top: 28px;
    font-size: 30px;
    color: #f5e5e7;
  }
}
.water {
  &__glass {
    width: 280px;
    height: 280px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    grid-row-start: 2;
    grid-row-end: 5;
    
  }
  &__counter {
    font-size: 112px;
    color: #000000;
    z-index: 2;
    justify-content: center;
    grid-row-start: 3;
    grid-row-end: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}
.button {
  grid-row-start: 6;
 

  &__plus {
    position: absolute;

    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    background: #ffffff;
    border-radius: 4px;
    border: none;
    width: 216px;
    height: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    grid-row-start: 6;
  }
  &__minus,  {
    
    
    position: absolute;
   
    left: 50%;
    margin-right: -50%;
    margin-top: 86px;
    transform: translate(-50%, -50%);
    background: inherit;
    border: none;
    width: 184px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #f5e5e7;
    grid-row-start: 8;
    
  }
  &__history{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    margin-top: 128px;
    transform: translate(-50%, -50%);
    background: inherit;
    border: none;
    width: 184px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #f5e5e7;
    grid-row-start: 9;
    text-decoration: underline;
  }
}

 
 
  &__list{
    z-index:5;
    position: inherit;
    left: 50%;
    margin-right: -50%;
   
    transform: translate(-50%, -50%);
    &--x{
      position: inherit;

    }
  }
}
